name : Postman collection workflow 

on:
  push:
    branches: [main]
  workflow_dispatch:
# schedule:
#   - cron: "30 2 * * *"     # 8:00 AM IST
#   - cron: "30 13 * * *"    # 7:00 PM IST

jobs:
  run-tests:
    runs-on: ec2-github-runner

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install Newman
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Collection
        run: |
          newman run 'Inwarranty-flow Collection_JatinImported Copy.postman_collection.json' \
            -e QA.postman_environment.json \
            -r cli,htmlextra \
            --reporter-htmlextra-export ./newman/index.html

      - name: Upload Report
        if: always()
        uses: actions/upload-artifact@v4.6.2
        with:
          name: newman-html-report
          path: newman/*.html

      - name: creating github page branch
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/

      - name: Send Email Notification
        if: always()
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Phoenix Inwaranty Flow Test Execution Notification
          to: sanketpatil2101@gmail.com
          from: ${{ secrets.EMAIL_USERNAME }}
          body: |
            Hi,

            Phoenix Inwarranty flow tests have been executed.
            The report has been published and the URL is:
            https://sanket2101.github.io/Phoenix-Inwaranty-Flow/

        
          
          

        
        

          
        

          
